= simple_form_for @user do |f|
  = f.error_notification

  .form-inputs
    = f.input :ldap
    = f.input :email
    = f.input :name
    = f.input :phone_number

  .form-actions
    = f.button :submit
