%h1 Listing users

%table
  %tr
    %th LDAP
    %th Email
    %th Name
    %th Admin
    %th
    %th
    %th

  - @users.each do |user|
    %tr
      %td= user.ldap
      %td= user.email
      %td= user.name
      %td= user.admin
      %td= link_to 'Show', user
