%p
  %b Ldap
  = @user.ldap
%p
  %b Email
  = @user.email
%p
  %b Name
  = @user.name
- if @user.player
  %p
    %b Registration
    = link_to @user.name, @user.player

= link_to 'Edit', edit_user_path(@user)
\|
= link_to 'Back', users_path
