= simple_form_for(@tag) do |f|
  = f.error_notification

  .form-inputs
    = f.input :tag_code
    = f.input :time
    - if admin?
      = label_tag :admin_tag
      = check_box_tag :admin_tag

  .form-actions
    = f.button :submit
