= simple_form_for(@tag) do |f|
  = f.error_notification

  .form-inputs
    = f.input :tag_code
    = f.input :time
    = f.input :first_feed, collection: @zombies, label_method: :feed_label
    = f.input :second_feed, collection: @zombies, label_method: :feed_label

  .form-actions
    = f.button :submit
