%p
  %b User:
  = link_to @player.user.name, @player.user
%p
  %b Game:
  = @player.game_id
%p
  %b Faction:
  = @player.faction_name
%p
  %b Tag code:
  = @player.tag_code
%p
  %b Score:
  = @player.score
