%p#notice= notice

%p
  %b Time:
  = @mission.time
%p
  %b Title:
  = @mission.title
%p
  %b Description:
  = @mission.description

= link_to 'Edit', edit_mission_path(@mission)
\|
= link_to 'Back', missions_path
