%p
  %b Time:
  = @mission.time
%p
  %b Title:
  = @mission.title
%p
  %b Description:
  :markdown
    #{@mission.description}
%p
  %b Check In:
  - if @attendance
    = link_to "You're checked in!. Edit Checkin", edit_attendance_path(@attendance)
  - else
    = link_to "Check in for mission", new_attendance_path(mission_id: @mission.id)

- if admin?
  = link_to 'Edit', edit_mission_path(@mission)
  \|
= link_to 'Back', missions_path
